div {
    border: 2px solid black;
    padding: 20px;
}

.overflow-visible {
    height: 100px;
    overflow: visible;
}


.overflow-hidden {
    overflow: hidden;
    height: 50px;
}

.overflow-scroll{
    height: 50px;
    overflow: scroll;
}