* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.main{
    flex-direction: column;
    align-items: center;

}
