@media (max-width: 600px) {

  .primary {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 1.5em;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 0.8em;

  }

  

}