* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 "Kode Mono", sens-serif;
}

body,
input,
textarea,
button {
    font: inherit;
}

body {
    padding: 2em;
}