@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5 'Margarine', sans-serif;
}

body {
  background: #FFF0E4;
  padding: 2em;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  gap: 2em;
}

.left-side {
  padding: 1em;
  border: 1px solid black;
  box-shadow: 0.5em 0.5em 1em 0 rgb(0, 0, 0, 0.3);
  width: 450px;
}

.left-side header::after{
  content: '';
  background-color: black;
}


.left-side header ul li a {
  display: block;
  text-decoration: none;
  color: black;
}

.left-side header ul li a i {
  color: #4D97E6;
  padding-right: 0.5em;
}

.left-side header ul li {
  list-style: none;
}

.right-side {
  border: 1px solid black;
  padding: 2em;
}

.bar-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.bar:nth-child(1) p {
  width: 90%;
  background: #2991E6;
  text-align: center;
  color: #fff;
  border-radius: 1em;
}

.bar:nth-child(2) p {
  width: 80%;
  background: #2991E6;
  text-align: center;
  border-radius: 1em;
  color: #fff;
}

.bar:nth-child(3) p {
  width: 75%;
  background: #2991E6;
  text-align: center;
  border-radius: 1em;
  color: #fff;
}

.bar:nth-child(4) p {
  width: 50%;
  background: #2991E6;
  text-align: center;
  border-radius: 1em;
  color: #fff;
}