@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 "Kode Mono", sans-serif;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(244, 201, 69, 1) 35%, rgba(0, 212, 255, 1) 100%);
}
h1{
    font-size: 2em;
}

body,button{
    font: inherit
}

.stopwatch {
    opacity: 0.75;
    padding: 3em;
    align-items: center;
    text-align: center;
}

.wrapper{
    border: 0.5em solid black;
    display: inline-block;
    padding: 2em;
    border-radius: 0.1em;
}

.controls{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

button{
    border-radius: 0.2em;
    font-size: 1.5em;
    padding: 0.5em;
}

.time{
    font-size: 2em;
}