div {
    border: 2px solid #000;
    margin-bottom: 20px;
}

.uniform-margin {
    margin: 40px;
}

.non-uniform-margin {
    margin: 10px 30px 20px 40px;
    /* order is top right bottom left (clock-wise */
    /* if 2 sibling elements have differnt margins, bigger one acts */
}

.negative-margin{
    margin: -20px;
}

/* Collapsing margins */
/* Bleeding margins */
