* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 Verdana, sans-serif
}


.container {
    max-width: 800px;
    margin: 0 auto;
}

.section-top-bar {
    background: #d01919;
    color: #fff;
}

.section-top-bar .container {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;

}

.section-top-bar .socials {
    display: flex;

}

.section-top-bar .socials li,
.section-top-bar .socials li a {
    display: block;
}

.section-top-bar .socials li {
    padding: 0 0.5em;
}

.section-top-bar .socials li a span {
    display: none;
}

.section-top-bar a {
    color: #fff;
}

.section-footer {
    background: #d01919;
}

.section-coaches {
    background: #EFEFEF;
}

/* nav bar */
.section-site-header {
    background: #000;
    color: #fff;

}

.section-site-header a {
    color: #fff;
}

.main-nav ul{
    display: flex;

}

.main-nav li,
.main-nav li a {
    display: block;
}

.section-site-header .container{
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.main-nav a{
    padding: 0.5em 1em;
}

.section-site-header .site-title{
    display: none;
}