<ul>
    {{!-- IF NOT, conditionals --}}
    {{#unless cats}}
    <h1>no cats</h1>
    {{/unless}}

    {{!-- FOR EACH LOOP --}}
    {{!-- each създава цикъл за всеки 1 от елементите на подаденото кетс --}}
    {{#each cats}}


    <li>{{name}} - {{age}}</li>

    {{!-- между отварящия и затварящия EACH, създаваме контекст, къде може да работим с пропъртита на всеки 1 отделен
    елемент --}}
    {{/each}}
</ul>
{{!-- в хендълбарс темплейттите трябва да вкарваме само визуална логика! (не слагаме бизнес или апп логика) --}}