* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    width: 330px;
    height: 200px;
    border: 2px solid blue;
    display: flex;
    padding: 1em;
}

.flex-container.align-items-stretch {
    align-items: stretch;
}
.flex-container.align-items-start {
    align-items: start;
}
.flex-container.align-items-center {
    align-items: center;
}
.flex-container.align-items-flex-end {
    align-items: flex-end;
}
.flex-container.align-items-baseline {
    align-items: baseline;
}

.flex-item {
    border: 2px solid black;
    padding: 1em;
    background: #eee;
}