* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}


/* short-hand for simpler tasks */

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */