* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.box-model {
    max-width: 600px;
    margin: 4em  auto;
}

.box-model div {
    border: 1px dashed #333;
    padding: 2em;
}

.margin {
    background: #FF966F;
}

.border {
    background: #FFE8C6;
}

.padding {
    background: #85EB85;
}

.content {
    text-align: center;
    background: #A3D2E2;
}