@import url('https://fonts.googleapis.com/css2?family=Playwrite+PE:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  font: 14px/1.5 'Playwrite PE';
}

body {
  padding: 2em;
}

a {
  font-family: Roboto;
}

.container {
  width: 1600px;
  margin: 0 auto;
}


.site-header .container {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.site-header .container ul {
  display: flex;
  gap: 1.5em;
}

.site-header .container li {
  list-style: none;
}

.site-header .container li a {
  text-decoration: none;
  color: #314584;
  font-weight: bold;
}

.site-header .container a:hover {
  color: #FF3C4A;
}


/* hero */

.site-hero .button {
  display: flex;
  justify-content: center;
}

.site-hero .button a {
  padding: 1em 2.5em;
  margin: 2em;
  background: #F0F0F0;
  border: 2px solid #FF3C4A;
  border-radius: 0.4em;
  color: #314584;
  font-weight: bold;
  text-decoration: none;
}

.left-hero h1 {
  font-size: 3em;
  color: #314584;
  padding-bottom: 0.7em;
}

.site-hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-hero img {
  max-width: 800px;
}

/* #7E807F */

.left-hero p {
  color: #7E807F;
  padding-bottom: 3em;
}

.about-us {
  font-weight: bold;
  padding: 1em 2em;
  background: #FF3946;
  color: #fff;
  text-decoration: none;
  border-radius: 3em;
  box-shadow: 0 0.3em 1em 0 rgb(0, 0, 0, 0.3);
  margin-right: 2em;
}

.get-in-touch{
  font-weight: bold;
  padding: 1em 2em;
  background: #fff;
  color: #314584;
  text-decoration: none;
  border-radius: 3em;
  box-shadow: 0 0.3em 1em 0 rgb(0, 0, 0, 0.3);
  margin-right: 2em;
}